.fieldForm {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
}

.fieldForm input,
select {
    padding: 8px;
}

.fieldForm label,
select,
input[type=submit] {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.fieldForm input[type=submit] {
    padding: 8px 65px;
    background-color: white;
    border: 1px solid orangered;
    color: orangered;
    border-radius: 8px;
}

.submitCenter {
    display: flex;
    justify-content: center;
}
#cadastrar{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#cadastrar > a{
    cursor: pointer;
    /* text-decoration: none; */
    color: orangered;
    font-weight: 500;
}

.background-login{
    border: 1px solid gray;
    width: 20%;
    padding: 0 2% 0 2%;
    border-radius: 8px;
}